<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">Fatigre</div>
            </div>
            <div class="right">
                <div id="hp">150 hp</div>
                <img class="element-type" src="/mode-nuit.png" alt="">
            </div>
        </header>
        <figure id="art">
            <img src="/Fatigre.jpg" alt="">
            <figcaption>N°023 </figcaption>

        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="element-type" src="/mode-nuit.png" alt="">
                        <img class="element-type" src="/mode-nuit.png" alt="">

                    </div>
                    <div class="name">Sommeil éternel</div>
                    <div class="damage">120</div>
                </div>
            </div>
            <div class="description">Fatigre fait dormir son adversaire jusqu'à la fin des temps</div>
        </div>
    </div>
</div>
