<div id="card">
    <div id="inside" [style.background-color]="backgroundColor()">
        <header>
            <div class="left">
                <div id="name">{{spirit().name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{spirit().hp}}Hp</div>
                <img class="element-type" [src]="SpiritTypeIcon()" alt="">
            </div>
        </header>
        <figure id="art">
            <img [src]="spirit().image" alt=""/>
            <figcaption>{{spirit().figureCaption}}</figcaption>

        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="element-type" [src]="SpiritTypeIcon()" alt="">
                        <img class="element-type" [src]="SpiritTypeIcon()" alt="">

                    </div>
                    <div class="name">{{spirit().attackName}}</div>
                    <div class="damage">{{spirit().attackStrength}}</div>
                </div>
            </div>
            <div class="description">{{spirit().attackDescription}}</div>
        </div>
    </div>
</div>
