<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{spirit.name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{spirit.hp}}Hp</div>
                <img class="element-type" src="/mode-nuit.png" alt="">
            </div>
        </header>
        <figure id="art">
            <img src="/Fatigree.jpeg" alt="">
            <figcaption>{{spirit.figureCaption}}</figcaption>

        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="element-type" src="/mode-nuit.png" alt="">
                        <img class="element-type" src="/mode-nuit.png" alt="">

                    </div>
                    <div class="name">{{spirit.attackName}}</div>
                    <div class="damage">{{spirit.attackStrength}}</div>
                </div>
            </div>
            <div class="description">{{spirit.attackDescription}}</div>
        </div>
    </div>
</div>
